{% include base_path %}

<div class="photo-gallery">
  {% for item in site.data.gallery %}
    {% assign gallery_text = item.text | default: item.caption %}
    {% assign has_overlay = false %}
    {% if gallery_text != '' and gallery_text != nil %}
      {% assign has_overlay = true %}
    {% endif %}
    {% if item.date != '' and item.date != nil %}
      {% assign has_overlay = true %}
    {% endif %}
    {% if item.location != '' and item.location != nil %}
      {% assign has_overlay = true %}
    {% endif %}

    {% assign loc = item.location | downcase %}
    {% assign region = 'default' %}
    {% if loc contains 'japan' or loc contains 'sapporo' or loc contains 'asahikawa' or loc contains 'hokkaido' %}
      {% assign region = 'japan' %}
    {% elsif loc contains 'australia' or loc contains 'sydney' or loc contains 'port stephens' %}
      {% assign region = 'australia' %}
    {% elsif loc contains 'korea' or loc contains 'seoul' or loc contains 'ewha' %}
      {% assign region = 'korea' %}
    {% elsif loc contains 'france' or loc contains 'paris' %}
      {% assign region = 'france' %}
    {% elsif loc contains 'portugal' or loc contains 'porto' or loc contains 'lisbon' %}
      {% assign region = 'portugal' %}
    {% elsif loc contains 'spain' or loc contains 'toledo' or loc contains 'barcelona' or loc contains 'seville' %}
      {% assign region = 'spain' %}
    {% elsif loc contains 'italy' or loc contains 'sicily' or loc contains 'napoli' or loc contains 'cefal' or loc contains 'favignana' or loc contains 'scopello' or loc contains 'florence' %}
      {% assign region = 'italy' %}
    {% endif %}

    <figure class="photo-gallery__item photo-gallery__item--{{ region }}">
      <img
        src="{% if item.image contains '://' %}{{ item.image }}{% else %}{{ item.image | prepend: '/images/' | prepend: base_path }}{% endif %}"
        alt="{% if gallery_text != '' %}{{ gallery_text | strip_html | strip_newlines }}{% elsif item.location != '' %}{{ item.location }}{% else %}Gallery photo{% endif %}"
        loading="lazy"
        decoding="async"
        draggable="false"
        oncontextmenu="return false;"
      />
      {% if has_overlay %}
        <figcaption class="photo-gallery__overlay">
          <div class="photo-gallery__overlay-inner">
            {% if gallery_text != '' and gallery_text != nil %}
              <p class="photo-gallery__text">{{ gallery_text | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            {% endif %}
            {% if item.location != '' and item.location != nil %}
              <p class="photo-gallery__location">{{ item.location }}</p>
            {% endif %}
            {% if item.date != '' and item.date != nil %}
              <p class="photo-gallery__date">{{ item.date }}</p>
            {% endif %}
          </div>
        </figcaption>
      {% endif %}
    </figure>
  {% endfor %}
</div>
