{% include base_path %}

<header class="home-hero">
  <h1 class="home-hero__name">{{ site.data.home.name | default: site.name }}</h1>

  <div class="home-hero__photo">
    {% assign avatar = site.author.avatar %}
    <img
      src="{% if avatar contains '://' %}{{ avatar }}{% else %}{{ avatar | prepend: '/images/' | prepend: base_path }}{% endif %}"
      alt="{{ site.name }}"
      width="360"
      height="480"
      decoding="async"
    />
  </div>

  <div class="home-hero__intro">
    {{ site.data.home.intro | markdownify }}
  </div>

  {% if site.data.home.personal %}
    <div class="home-hero__personal">
      {{ site.data.home.personal | markdownify }}
    </div>
  {% endif %}

  <p class="home-hero__links">
    {% for link in site.data.home.links %}
      {% unless forloop.first %}<span class="home-hero__sep">/</span>{% endunless %}
      <a href="{{ link.url }}">{{ link.label }}</a>
    {% endfor %}
  </p>
</header>
